<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All compounds
    </h1>

    <a href="/compounds/new" class="btn btn-block btn-outline-secondary">
      Add a new compound
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Compound Name
        </th>

        <th>
          Patient
        </th>

        <th>
          Last Updated
        </th>

        <th>
        </th>
      </tr>

      <% @compounds.each do |compound| %>
      <tr>
        <td>
          <%= compound.patient.first_name.titleize %>'s #<%= compound.id %>
        </td>

        <td>
          <%= compound.patient.first_name.titleize %> <%=compound.patient.last_name.titleize %>
        </td>

        <td>
          <%= time_ago_in_words(compound.updated_at) %> ago
        </td>

        <td>
          <a href="/compounds/<%= compound.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
