<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All compounds
    </h1>

    <a href="/compounds/new" class="btn btn-block btn-outline-secondary">
      Add a new compound
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Compound Name
        </th>

        <th>
          Patient
        </th>

        <th>
          Ingredients
        </th>

        <th>
          Last Updated
        </th>
      </tr>

      <% @compounds.each do |compound| %>
      <tr>
        <td>
          <a href="/compounds/<%= compound.id %>">
            <%= compound.patient.first_name.titleize %>'s #<%= compound.id %>
          </a>
        </td>

        <td>
          <a href="/patients/<%= compound.patient.id %>">
            <%= compound.patient.first_name.titleize %> <%=compound.patient.last_name.titleize %>
          </a>
        </td>
        <td>
          <% Ingredient.where(id: compound.ingredients.ids).each do |ingredient| %>
            <a href="/ingredients/<%= ingredient.id%>">
              <%= ingredient.name %>
            </a>
              
          <% end %>
        </td>
        <td>
          
          <%= time_ago_in_words(compound.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
