<h1>
  Edit <%= @patient.first_name %> <%= @patient.last_name %>
</h1>

<hr>

<form action="/update_patient/<%= @patient.id %>" method="post">
  <label for="first_name">
      First Name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%=@patient.first_name %>">
  </div>
  <div class="form-group">
    <label for="last_name">
      Last Name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%=@patient.last_name %>">
  </div>
  <div class="form-group">
    <label for="dob">
      Date of Birth
    </label>

    <input type="text" id="dob" name="dob" class="form-control" value="<%=@patient.dob %>">
  </div>
  

  <input type="hidden" name="user_id" value="<%= current_user.email %>"></input>
  

  <button class="btn btn-block btn-outline-secondary">
    Update patient
  </button>
</form>

<hr>

<a href="/patients">
  Go back
</a>
