<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Your patients
    </h1>

    <a href="/patients/new" class="btn btn-block btn-outline-secondary">
      Add a new patient
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th>
          Date of Birth
        </th>


        <th>
          Most Recent Compound
        </th>
      </tr>

      <% @patients.each do |patient| %>
        <% if patient.doctor.id == current_user.id %>
        <tr>
          <td>
            <a href="/patients/<%= patient.id %>">
              <%= patient.first_name.titleize %>
              <%= patient.last_name.titleize %>
            </a>
          </td>
          <td>
            <%= patient.dob %>
          </td>
          <td>
            <a href="/compounds/<%=patient.compounds.last.id %>">
              <%= patient.first_name.titleize%>'s #<%= patient.compounds.last.id %>
            </a>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
